/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mug-container {
    max-width: 720px;
    margin: auto;
}

.mugshot {
    border-radius: 50%;
    box-shadow: 2px 2px 9px 2px #999;
    max-width: 100%;
}

.social-list {
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px 2px 1px #999;
}

.bio {
    font-size: 1.3em;
}

.header {
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
    color: white;

    padding:.5em 0 .5em 7%;
    width: 113.5%;
    margin-left: -7%;
}
.project, .hobby {
    clear:both;
    padding:1em;
    margin-bottom: 2em;
}

.project:nth-child(even), .hobby:nth-child(even) {
    background:#eee;
}

.navbar-fixed-top + .jumbotron, .navbar-fixed-top + .container {
    margin-top: 60px;
}

.navbar img {
    border-radius: 50%;
    max-height: 100%;
    margin: -.3em .5em 0 0;
}

body {
    position: relative;
}

h1 + h2 {
    margin-top: 0px;
}

h3 {
    margin-top: 0;
}

section header h3 {
    margin: 0;
}
section > div {
    border-left: 1px solid #efefef;
}
section {
    min-height: 100px;
    margin-bottom: 30px;
}
section div > h3 {
    padding: 0;
    margin: 0;
}