<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-6">
        <h1>Paul Nelson</h1>

        <h2>Chicago</h2>
        </div>
        <div class="col-md-6">
        <img class="media-object img-circle pull-right" data-src="holder.js/64x64" alt="64x64" src="https://media.licdn.com/media/p/1/000/0ec/001/15d8908.jpg" style="width: 100px; height: 100px; margin-top: 20px;">

        </div>
        </div>
      <hr style="color: #ccc; height: 4px;" />
      <section class="row">
        <header class="col-md-3">
          <h3>About</h3>
        </header>
        <div class="col-md-9">
        <p>I build web applications that solve problems for people. I bounce around the stack, but have recently focused on front end engineering with a focus on Javascript applicaitons.</p>
        <strong>Phone:</strong> (616) 284-1382 <br />
        <strong>Email:</strong> paul@paulnelson.me<br />
        <strong>Twitter:</strong> <a href="https://twitter.com/paulvblue">@paulvblue</a><br />
        <strong>Github:</strong> <a href="https://github.com/panel">panel</a><br />
        </div>
      </section>
      <section class="row">
        <header class="col-md-3">
          <h3>Work Experience</h3>
        </header>
        <div class="col-md-9">
          <div class="skills">
            <h3>GoHealth</h3>
            <strong>Web Engineer</strong>
            <p>2013 - Pres</p>
            <p>I lead a team focused on creating products that help health insurance agents find the right health insurance plan for consumers and get him or her enrolled.</p>
            <ul>
              <li>Led rearchitecture of call center scripting application.</li>
              <li>Helped deliver large, single page Angular application that allows consumers to find and compare health insurance plans.</li>
              <li>Developed business and technical processes to facilitate rapid expansion of affiliates.</li>
            </ul>
            <hr />            <h3>Perficient</h3>
            <strong>Sr. Technical Consultant</strong>
            <p>2011 - 2013</p>
            <p>Worked with large enterprise companies developing SOA based middleware enabling communication with internal business units and external trading partners.</p>
            <ul>
              <li>Integrated a suite of WebSphere products to upgrade an insurance clearinghouse to EDI HIPPA 5010 standard.</li>
              <li>Designed a DataPower powered front-end suite of SOAP WebServices leveraging WS-Addressing, WS-Security.</li>
              <li>Wrote clear, detailed documentation for development and long-term support of enterprise software systems.</li>
              <li>Collaborated with business stakeholders to turn business requirements into detailed task lists.</li>
              <li>Lead a multi-shore development team in a high profile healthcare project</li>
            </ul>
            <hr />            <h3>Chicago Agent Magazine</h3>
            <strong>Digital Products Manager</strong>
            <p>2010 - 2011</p>
            <p>Small company covering the real estate industry in Chicago.</p>
            <ul>
              <li>Developed and integrated a custom database solution to manage electronic advertisements across the entire brand.</li>
              <li>Created custom, online formats for special issues of the print magazine.</li>
              <li>Managed a network of over 25 domains and three complex, Wordpress based websites.</li>
            </ul>
            <hr />
          </div>
        </div>
      </section>

      <section class="row">
        <header class="col-md-3">
          <h3>Education</h3>
        </header>
        <div class="col-md-9">
          <div class="skills">
            <h3>University of Michigan</h3>
            <h4>Political Science, Bachelor</h4>
            <p>2004 - 2008</p>
            <p></p>
            <ul>
            </ul>
            <hr />
          </div>
        </div>
      </section>
      <section class="row">
        <header class="col-md-3">
          <h3>Skills</h3>
        </header>
        <div class="col-md-9">
          <div class="row-fluid skills">
            <ul class="col-md-6">

              <li>
                <h4>Web Development</h4>
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Javascript</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </div>
</div>